<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53bdff594c3b27bd"></script>

<p id="recipeHeader">
  <%= current_user.first_name %>'s Favorites
</p>

<div class="animated fadeIn">  
  <div class="row " id="indexPosts">
    <%= render "myFavsIndex" %>
  </div>
</div>

<div id="willPaginate"><%= will_paginate @my_favorites, renderer: BootstrapPagination::Rails %></div>
