<p id="recipeHeader">Cookbook</p>

<div class="animated fadeIn">
  
  <div class="row " id="indexPosts">

    <%= render "recipeIndex" %>

  </div>
</div>

<div id="willPaginate"><%= will_paginate @collection, renderer: BootstrapPagination::Rails %></div>

<%= render "indexModal" %>
