<div class="animated fadeIn">
  <div class="row " id="indexPosts" >
    <div class="col-md-10 col-md-offset-1">
      <div class="well" id="postWell">
        <%= render "showPost" %>
          <div class="well" id="commentWell">
            <%= render "commentBox" %>
              <div class="comments">
                <%= render "comment" %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
