/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require social-share-button
 *= require_tree .
 *= require_self
 */

body { 
  padding-top: 70px; 
}

#editProButton {
  color: #3498db;
}

#editProButton:hover {
  background-color: orange; 
  color: white;
  opacity: .8;
}

#logoutButton {
  color: #3498db;
}

#logoutButton:hover {
  background-color: orange; 
  color: white;
  opacity: .8;
}

#showRecipe {
  border-color: white;
}

#showRecipe:hover {
  border-color: white; 
}

#signIn {
  border-color: white;
}

#requestPass {
  border-color: white;
}

#forgotPass {
  margin-top: 200px;
}

#forgotBlock {
  margin-top: 100px;
}

#addCommentBtn {
  background-color: #3498db;
  color: white;
  border-color: white;
}

#addCommentBtn:hover {
  color: #3498db;
  background-color: white;
}

#indexShow {
  border-color: white;
}

#commDelete {
  background-color: white;
  border-color: #3498db;
  color: #3498db;
}

#commDelete:hover {
  border-color: #22629c;
  background-color: #3498db;
  color: white;
}

#signUp {
  background-color: #f0ad4e;
}

#signUp:hover {
  background-color: #e09e41;
}

