// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#commentWell {
 border-color: #2992D8;
 // border-radius: 20px;
 background-color: #3498db;
}

#comments {
  background-color: white;
  border-color: white;
}