// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#postWell {
  margin-top: 30px;
  background-color: #3498db;
  border: 2px solid;
  border-color: #2992D8;
  color: white;
  text-align: center;
}

#showTitle {
  text-align: center;
  font-weight: 500px;
}

#fields {
  font-size: 18px;
}

#descPullRight {
  text-align: left;
  font-size: 16px;
}

#commentDiv {
  color: black;
  text-align: left;
  font-size: 15px;
  font-weight: 200px;
}

#usernameComment {
  color: black;
  text-align: left;
  font-size: 15px;
  font-weight: 200px;
}

#newBtn {
  border-color: white;
}

#newBtn:hover {
  border-color: white;
  background-color: white;
  color: orange;
}

#fullForm {
  color: black;
}

#formLabel {
  color: orange;
  font-weight: 100px;
  font-size: 13px;
}

#myModalLabel {
  color: white;
  text-align: center;
}

.modal-header {
  background-color: #3498db;
}

#deleteButton {
  border-color: white;
}

#deleteButton:hover {
  border-color: white;
}