// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#postWell {
  border-radius: 30px;
  margin-top: 50px;
  background-color: #3498db;
  border: 2px solid;
  border-color: #2992D8;
  color: white;
  text-align: center;
}

#showTitle {
  text-align: center;
  font-weight: 500px;
}

#descPullRight {
  text-align: left;
  font-size: 18px;
}

// .bgGradient {
// }