// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#postWell {
  border-radius: 20px;
  margin-top: 50px;
  background-color: white;
  border: 2px solid;
  border-color: #3498db;
}

#showTitle {
  text-align: center;
  font-weight: 500px;
}
