<div class="col-md-10 col-md-offset-1">
  <% @recipes.each do |recipe| %>
    <div class="well" id="recipeWell">
      <h3 id="showTitle"><%= recipe.title %></h3><hr>
      <h5>Description:</h5>
      <p id="descPullRight"><%= recipe.description %></p><hr>
      <br>
      <br>
      Posted By: <p><%= recipe.user.email %></p>
      <%= recipe.user.created_at.time.to_formatted_s(:db) %> 
    </div>
  <% end %>
</div>