<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53bdff594c3b27bd"></script>

<div class="animated fadeIn">  
  <div class="row " id="indexPosts">
    <%= render "recipeIndex" %>
  </div>
</div>

<div id="willPaginate"><%= will_paginate @recipes, renderer: BootstrapPagination::Rails %></div>
